@model ErrorViewModel
@{
    ViewData["Title"] = "Грешка";
}

<h1 class="text-danger">Грешка.</h1>
<h2 class="text-danger">Възникна грешка при обработката на заявката.</h2>

@if (Model.ShowRequestId)
{
        <p>
            <strong>Идентификатор на заявката:</strong> <code>@Model.RequestId</code>
        </p>
}

<h3>Режим за разработка</h3>
<p>
    Ако приложението работи в среда <strong>Development</strong>, ще се показва по-подробна информация за грешката.
</p>
<p>
    <strong>Средата Development не трябва да е включена в публикувани приложения.</strong>
    Това може да доведе до показване на чувствителна информация на крайните потребители.
    За локално дебъгване включи <strong>Development</strong>, като зададеш променливата
    <strong>ASPNETCORE_ENVIRONMENT</strong> на <strong>Development</strong> и рестартираш приложението.
</p>