@model BeReadyForExam.Models.Subject

@{
    ViewData["Title"] = "Изтриване на предмет";
}

<h2>Изтриване на предмет</h2>

<h4>Сигурен ли си, че искаш да изтриеш този предмет?</h4>

<div>
    <dl class="row">
        <dt class="col-sm-2">Име</dt>
        <dd class="col-sm-10">@Model.Name</dd>

        <dt class="col-sm-2">Описание</dt>
        <dd class="col-sm-10">@Model.Description</dd>
    </dl>
</div>

<form asp-action="Delete" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Изтрий</button>
    <a asp-action="Index" class="btn btn-secondary">Отказ</a>
</form>