@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Нулиране на ключа за приложението за автентикация";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Ако нулирате ключа за приложението за автентикация, то няма да работи, докато не го настроите отново.</strong>
    </p>
    <p>
    Този процес изключва двуфакторната автентикация, докато не потвърдите отново приложението за удостоверяване.
        Ако не завършите настройката на приложението за автентикация, е възможно да изгубите достъп до своя акаунт.
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Нулирай ключа за приложението за автентикация</button>
    </form>
</div>
