@page
@model ErrorModel
@{
    ViewData["Title"] = "Грешка";
}

<h1 class="text-danger">Грешка.</h1>
<h2 class="text-danger">Възникна грешка при обработката на заявката.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Идентификатор на заявката:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Режим за разработка</h3>
<p>
    Превключването към среда <strong>Development</strong> ще покаже по-подробна информация за възникналата грешка.
</p>
<p>
    <strong>Средата Development не трябва да бъде активирана в публикувани приложения</strong>, защото може да покаже чувствителна информация от изключенията на крайните потребители. За локално дебъгване можете да активирате средата за разработка, като зададете променливата <strong>ASPNETCORE_ENVIRONMENT</strong> на <strong>Development</strong> и рестартирате приложението.
</p>
