@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Потвърждение за нулиране на паролата";
}

<h1>@ViewData["Title"]</h1>
<p>
    Паролата Ви беше нулирана. Моля, <a asp-page="./Login">натиснете тук, за да влезете</a>.
</p>
